@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,100);
/* Fonts */
/* Colors */
/* */
/* Bootstrap override 
.navbar-inverse { background-color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #1CB3FF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #BABABA}
.dropdown-menu { background-color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #428BCA}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #D1D1D1}
.navbar-inverse .navbar-brand { color: #999999}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { color: #999999}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #333333}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}
*/
header {
  background: #F8F8F8;
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
}
body {
  background-color: #028acf;
  height: 2000px;
}
/* Color classes */.blue {
  background-color: #0e5b83;
  color: #f8f8f8;
}
.lightG {
  background-color: #f8f8f8;
  color: #4a4a4a;
}
#email {
  margin-bottom: 5px;
}
#emailSubmit {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* helper classes */.top50 {
  margin-top: 50px;
}
.btm50 {
  margin-bottom: 50px;
}
/* end helpers */
.cards {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
}
.card,
.card3 {
  width: 100%;
  background: #F8F8F8;
  border: 0px solid #E8E8E8;
  padding: 24px;
  height: 400px;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.card:hover {
  background-color: #f8f8f8;
  -webkit-mask-image: none;
  -webkit-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.card:hover .line {
  background-color: #d7182a;
  height: 2px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.card-title {
  font-family: Roboto-Medium;
  font-size: 20px;
  color: rgba(74, 73, 74, 0.87);
  line-height: 24px;
  text-align: left;
  padding-left: 4px;
  padding-right: 4px;
}
.card-body {
  font-family: Roboto-Regular;
  font-size: 13px;
  color: rgba(74, 73, 74, 0.54);
  line-height: 14px;
  text-align: left;
  line-height: 1.4;
}
.line {
  width: 50%;
  height: 2px;
  background-color: #bababa;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.btn-btm {
  text-align: left;
  color: #028acf;
  margin-left: -10px;
  position: absolute;
  bottom: 40px;
}
.waves-button {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}
/* card 2 */
.card2 {
  width: 100%;
  background: #f8f8f8;
  border: 0px solid #E8E8E8;
  padding: 0px;
  height: 400px;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.card2:hover {
  background-color: #f8f8f8;
  -webkit-mask-image: none;
  -webkit-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.card2:hover .line2 {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #bababa;
  height: 1px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.card2:hover .card2-title {
  background-color: #0e5b83;
  color: #f8f8f8;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.card2-title {
  font-family: Roboto-Medium;
  font-size: 20px;
  color: rgba(74, 73, 74, 0.87);
  line-height: 24px;
  text-align: left;
  padding-left: 28px;
  padding-top: 24px;
  padding-right: 28px;
  background-color: #f8f8f8;
  padding-bottom: 10px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.line2 {
  width: 50%;
  height: 1px;
  background-color: #bababa;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-left: 24px;
  margin-right: 24px;
}
.card-body2 {
  font-family: Roboto-Regular;
  font-size: 13px;
  color: rgba(74, 73, 74, 0.54);
  line-height: 14px;
  text-align: left;
  line-height: 1.4;
  padding: 24px;
  padding-top: 0px;
}
.btn-btm2 {
  text-align: left;
  color: #028acf;
  margin-left: -10px;
  position: absolute;
  bottom: 40px;
  padding-left: 24px;
}
.card2:hover .btn-btm2 a {
  background-color: #bababa;
  color: #f8f8f8;
}
/* end card 2 */
#row2 {
  margin-top: 0px;
}
.fade-out {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33ffffff', endColorstr='#00ffffff', GradientType=0);
  /* IE6-9 */

}
.fade-out-text {
  color: rgba(0, 0, 0, 0.1);
}
.scroll-text {
  position: absolute;
  width: 100%;
  bottom: 40px;
  left: 0px;
  color: #f8f8f8;
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}
.scroll-text img {
  width: 50px;
  height: auto;
  margin-top: 10px;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
#scroll-word {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
#hello {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
#line2 {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
#board {
  width: 100%;
  background-color: #0e5b83;
  position: relative;
  top: 0px;
  z-index: 10000;
}
.logo-top {
  margin-top: 20px;
}
.logo-top img {
  margin-left: -5px;
}
.headline {
  margin-top: 100px;
}
.headline-text {
  font-size: 1.5em;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  word-break: keep-all;
}
.footer {
  background-color: #4a4a4a;
  font-weight: 300;
  padding-bottom: 40px;
}
.footer-logo {
  padding: 10px;
  padding-top: 20px;
  border-bottom: 1px solid #e1f5fe;
}
.footer-section {
  margin-top: 20px;
}
#footer-text {
  text-align: left;
  color: #f8f8f8;
}
/*
.linetop:hover {
	border-top: 3px solid @darkG;
	-webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
*/
/* Media */
@media (min-width: 992px) {
  .headline-text {
    font-size: 3em;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    word-break: keep-all;
  }
}
.navbar-default {
  background-color: #f8f8f8;
  border-color: #f8f8f8;
}
.navbar-default .navbar-brand {
  color: #424242;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #0e5b83;
}
.navbar-default .navbar-text {
  color: #424242;
}
.navbar-default .navbar-nav > li > a {
  color: #424242;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #0e5b83;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #0e5b83;
  background-color: #f8f8f8;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #0e5b83;
  background-color: #f8f8f8;
}
.navbar-default .navbar-toggle {
  border-color: #f8f8f8;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #f8f8f8;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #424242;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #424242;
}
.navbar-default .navbar-link {
  color: #424242;
}
.navbar-default .navbar-link:hover {
  color: #0e5b83;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #424242;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #0e5b83;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #0e5b83;
    background-color: #f8f8f8;
  }
}
.navbar-default .navbar-nav > .active > a {
  border-top: 2px solid #0e5b83;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.navbar-default .navbar-nav > li a {
  border-top: 2px solid #f8f8f8;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.navbar-default .navbar-nav > li a:hover {
  border-top: 2px solid #bababa;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
